.header {
    display: flex;
    flex-direction: column;
    padding: 1vh;
}

.title {
    height: 10vh;
    background-color: #f8f8f8;
    display: flex;
    justify-content: space-between;
}

.none {
    width: 30vw;
    height: 5vh;
}

.title-logo {
    background: url(../../assets/image/Log-in/memory.png) no-repeat;
    background-size: 150px;
    background-position-y: 90%;
    width: 30vw;
}

.title-content {
    font: 600 40px FZYaoTi;
    position: relative;
    top: 60%;
}

.second-title {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    height: 5vh;
}

#second-title-content {
    font: 600 40px FZYaoTi;
    line-height: 5vh;
}

.homepage {
    width: 10vw;
    height: 5vh;
    background: url(../../assets/image/Multiple/homepage.png) no-repeat;
    background-size: 11vw;
    background-position-x: 50%;
    background-position-y: 5%;
}

.more {
    width: 10vw;
    height: 5vh;
    background: url(../../assets/image/Multiple/more.png) no-repeat;
    background-size: 11vw;
    background-position-x: 50%;
    background-position-y: 5%;
}

.background {
    width: 100vw;
    height: 89vh;
    background: url(../../assets/image/Multiple/background.png) repeat-y;
    overflow-y: auto;
    background-size: 100vw;
    background-position-x: 50%;
    background-position-y: 50%;

}

.bubble1 {
    background: url(../../assets/image/Multiple/bubble1.png) no-repeat;
    width: 23vw;
    height: 14vh;
    background-size: 25vw;
    position: absolute;
    left: 38%;
    bottom: 56%;
    z-index: 2;
}
.bubble2 {
    background: url(../../assets/image/Multiple/bubble2.png) no-repeat;
    width: 45vw;
    height: 28vh;
    background-size: 50vw;
    position: absolute;
    /* left: 2%; */
    bottom: 10%;
    z-index: 2;
}
.bubble3 {
    background: url(../../assets/image/Multiple/bubble3.png) no-repeat;
    width: 30vw;
    height: 20vh;
    background-size: 35vw;
    position: absolute;
    left: 75%;
    bottom: 40%;
    z-index: 2;
}
.bubble4 {
    background: url(../../assets/image/Multiple/bubble1.png) no-repeat;
    width: 8vw;
    height: 5vh;
    background-size: 8vw;
    position: absolute;
    left: 35%;
    top: 10%;
    z-index: 2;
}
.bubble5 {
    background: url(../../assets/image/Multiple/bubble1.png) no-repeat;
    width: 13vw;
    height: 9vh;
    background-size: 15vw;
    position: absolute;
    left: 10%;
    top: 20%;
    z-index: 2;
}
.list {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(231, 231, 231);
    padding: 3vw;
}

.list-back {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.list-title {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1vw;
}

.list-title-content {
    background-color: white;
    border-radius: 20%;
    font: 600 38px FZYaoTi;
    color: #989898;
    line-height: 8vh;
    text-align: center;
    border-radius: 10%;
    width: 12vw;
    height: 8vh;
}

.list-title-position {
    font: 600 40px FZYaoTi;
    color: #989898;
    height: 5vh;
}

.list-content {
    width: 70vw;
    height: 30vh;
    background-color: #fff;
    border-radius: 10%;
    position: relative;
    left: 12vw;
}

.list-time {
    font: 600 25px FZYaoTi;
    color: #989898;
    position: relative;
    left: 75vw;
}