
.return {
    /* homepage */
    width: 10vw;
    height: 5vh;
    background: url(https://img2.imgtp.com/2024/03/24/B5T90Aee.png) no-repeat;
    background-size: 11vw;
    background-position-x: 50%;
    background-position-y: 5%;
}

.next-page {
    /* more */
    width: 10vw;
    height: 5vh;
    background: url(https://img2.imgtp.com/2024/03/24/RfgzV8Q3.png) no-repeat;
    background-size: 11vw;
    background-position-x: 50%;
    background-position-y: 5%;
}

.background {
    width: 100vw;
    height: 89vh;
    background: url(https://img2.imgtp.com/2024/03/24/lr8jUOHp.png) repeat-y;
    overflow-y: auto;
    background-size: 100vw;
    background-position-x: 50%;
    background-position-y: 50%;

}

.bubble1 {
    background: url(https://img2.imgtp.com/2024/03/24/U4MPwdZq.png) no-repeat;
    width: 23vw;
    height: 14vh;
    background-size: 25vw;
    position: absolute;
    left: 38%;
    bottom: 56%;
    z-index: 2;
}
.bubble2 {
    background: url(https://img2.imgtp.com/2024/03/24/lNrmzpLW.png) no-repeat;
    width: 45vw;
    height: 28vh;
    background-size: 50vw;
    position: absolute;
    /* left: 2%; */
    bottom: 10%;
    z-index: 2;
}
.bubble3 {
    background: url(https://img2.imgtp.com/2024/03/24/I2PfVr7X.png) no-repeat;
    width: 30vw;
    height: 20vh;
    background-size: 35vw;
    position: absolute;
    left: 75%;
    bottom: 40%;
    z-index: 2;
}
.bubble4 {
    background: url(https://img2.imgtp.com/2024/03/24/U4MPwdZq.png) no-repeat;
    width: 8vw;
    height: 5vh;
    background-size: 8vw;
    position: absolute;
    left: 35%;
    top: 10%;
    z-index: 2;
}
.bubble5 {
    background: url(https://img2.imgtp.com/2024/03/24/U4MPwdZq.png) no-repeat;
    width: 13vw;
    height: 9vh;
    background-size: 15vw;
    position: absolute;
    left: 10%;
    top: 20%;
    z-index: 2;
}
.list {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(231, 231, 231);
    padding: 3vw;
}

.list-back {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.list-title {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1vw;
}

.list-title-content {
    background-color: white;
    border-radius: 20%;
    font: 600 38px FZYaoTi;
    color: #989898;
    line-height: 8vh;
    text-align: center;
    border-radius: 10%;
    width: 12vw;
    height: 8vh;
}

.list-title-position {
    font: 600 40px FZYaoTi;
    color: #989898;
    height: 5vh;
}

.list-content {
    width: 70vw;
    height: 30vh;
    background-color: #fff;
    border-radius: 10%;
    position: relative;
    left: 12vw;
}

.list-time {
    font: 600 25px FZYaoTi;
    color: #989898;
    position: relative;
    left: 65vw;
    width: 30vw;
}