.background {
    display: flex;
    flex-direction: column;
    background: url(https://img2.imgtp.com/2024/03/24/06IanIqh.png) no-repeat;
    background-size: 100vw;
    width: 100vw;
    height: 100vh;
}

.header-header {
    display: flex;
    padding: 1vh;
    position: relative;
}

.title-title {
    height: 10vh;
    width: 100vw;
    background-color: #f8f8f8;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.title-logo {
    background: url(https://img2.imgtp.com/2024/03/24/zG3Llx0E.png) no-repeat;
    background-size: 150px;
    background-position-Y: 90%;
    width: 20vw;
    height: 5vh;
    position: relative;
    left: -5vw;
}

.title-content {
    font: 600 40px FZYaoTi;
    height: 5vh;
    position: relative;
    top: 20%;
}

.none {
    width: 30vw;
    height: 5vh;
    color: transparent;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    align-items: center;
}

.content-content {
    position: relative;
    top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vh;
}

.return {
    width: 10vw;
    height: 3.5vh;
    background: url(https://img2.imgtp.com/2024/03/24/LGmcvwNR.png) no-repeat;
    background-size: 10vw;
    background-position-y: 45%;
    position: absolute;
    left: 0%;
}


.input-name {
    width: 80vw;
    height: 8vh;
    background-color: #fff;
    border-radius: 45px;
    box-shadow: 2px 2px 3px 3px rgb(244, 244, 244) inset;
    font: 600 40px FZYaoTi;
    text-align: center;
}

.button {
    width: 30vw;
    height: 7vh;
    background-color: #fff;
    border-radius: 45px;
    border: none;
    box-shadow: 2px 2px 3px 3px rgb(244, 244, 244) inset;
    font: 600 40px FZYaoTi;
    text-align: center;
    line-height: 7vh;
    text-align: center;
}

.pattern {
    display: flex;
    justify-content: space-around;
    padding: 5vw;
}

.pattern1 {
    width: 40vw;
    height: 30vh;
    background: url(https://img2.imgtp.com/2024/03/24/PfHASomK.png) no-repeat;
    background-size: 40vw;
}

.pattern2 {
    width: 40vw;
    height: 30vh;
    background: url(https://img2.imgtp.com/2024/03/24/0OXJuO9o.png) no-repeat;
    background-size: 40vw;
}

.footnote {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
}

.footnote-content {
    font: 600 40px FZYaoTi;
}

.verification {
    display: flex;
    gap: 8vw;
    justify-content: center;
}

.input-verification {
    width: 12vw;
    height: 8vh;
    background-color: #fff;
    border-radius: 15px;
    font: 600 40px FZYaoTi;
    line-height: 8vh;
    text-align: center;
    max-lines: 1;
}