

.return {
    width: 10vw;
    height: 5vh;
    background: url(https://img2.imgtp.com/2024/03/24/LGmcvwNR.png) no-repeat;
    background-size: 11vw;
    background-position-x: 50%;
    background-position-y: 5%;
}

.next-page {
    /* chat-friends */
    width: 10vw;
    height: 5vh;
    background: url(https://img2.imgtp.com/2024/03/24/BZL4lN1r.png) no-repeat;
    background-size: 11vw;
    background-position-x: 50%;
    background-position-y: 5%;
}

.background {
    width: 100vw;
    height: 89vh;
    background: url(https://img2.imgtp.com/2024/03/24/lr8jUOHp.png);
    overflow-y: auto;
    background-size: 90vw;
    background-position-x: 50%;
    background-position-y: 50%;
}

.paper-airplane1 {
    background: url(https://img2.imgtp.com/2024/03/24/RKLeFj6B.png) no-repeat;
    width: 40vw;
    height: 30vh;
    background-size: 10vw;
    position: absolute;
    left: 60vw;
    top: 30vh;
}

.paper-airplane2 {
    background: url(https://img2.imgtp.com/2024/03/24/8mH9o7zy.png) no-repeat;
    width: 40vw;
    height: 20vh;
    background-size: 35vw;
    position: absolute;
    left: 15vw;
    bottom: 5vh;
}

.chatlist-background {
    display: flex;
    gap: 3vh;
    flex-direction: column;
    height: 80vh;
    position: relative;
}

.chatlist {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    align-items: flex-end;
    position: relative;
    right: 5vw;
    top: 2vh;
}
.onmessagelist {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    align-items: flex-start;
    position: relative;
    left: 5vw;
    top: 2vh;
}

.username {
    font: 30px FZYaoTi;
    color: black;
}

.chatContent1 {
    max-width: 80vw;
    text-wrap: pre-wrap;
    white-space: pre-wrap;
    word-break: break-all;
    width: auto;
    height: auto;
    background-color: #fff;
    border-radius: 20px;
    font: 600 30px FZYaoTi;
    padding: 2%;
}

.chatContent2 {
    max-width: 80vw;
    width: 70vw;
    /* height: 50vh; */
    background-color: #fff;
    border-radius: 20px;
    padding: 2%;
}


.bottom-input {
    position: fixed;
    bottom: -1%;
    width: 100vw;
    height: 8.5vh;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 4px 4px 5px 5px #e4e3e3 inset;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6vw;
}

.input-content {
    width: 70vw;
    height: 6vh;
    border-radius: 10px;
    border: 1px solid #F5F5F5;
    background-color: #F5F5F5;
    border-radius: 10px;

}

.send {
    width: 10vw;
    height: 6vh;
    background: url(https://img2.imgtp.com/2024/03/24/sdzJEC57.png) no-repeat;
    background-size: 14vw;
    background-position-x: 50%;
    background-position-y: 45%;
    border-radius: 10px;
}