.header--header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo--logo {
    position: relative;
    height: 300px;
    width: 100%;
    background-color: #b78a8a;
    background: url(https://img2.imgtp.com/2024/03/24/YNpnV3Ho.png) no-repeat;
    background-size: 400px;
    background-position-x: 37%;
    background-position-y: 70%;
}

.header--title {
    /* memory */
    position: absolute;
    top: 20%;
    width: 100%;
    height: 80px;
    font-size: 60px;
    background: url(https://img2.imgtp.com/2024/03/24/zG3Llx0E.png) no-repeat;
    background-size: 220px;
    background-position-x: 50%;
}